<% provide(:title, 'Contact') %>

<h1>Contact</h1>

Email address: <%= raw(EmailMunger.encode('admin@generousit.org')) %>
<br>
Telephone: <%= raw(EmailMunger.encode('612-567-3883')) %>
<br>
Location: Frogtown (Saint Paul, MN)
<br>
Facebook: https://www.facebook.com/generousit
<br>
Twitter: https://twitter.com/generous_IT
